{
  "env": {
    "node": true,
    "jest": true
  },
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "max-len": ["error", 80],
    "no-confusing-arrow": 0,
    "no-shadow": 0,
    "no-underscore-dangle": 0,
    "semi": [1, "never"],
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "import/no-duplicates": 0
  }
}
